        <div class="container TAPIRquestions">
            <div class="row" onclick="window.location.href=''">
                <div class="col-xs-12">
                    <h3><b>Questions</b>
 Contact our Study Coordinator </h3>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8"> 
                        <ul class="foot_links">
                            <li>
                                <a href="team/index.htm">The TAPIR Team</a>
                            </li>
                            <li>
                                <a href="faq/index.htm">Frequently Asked Questions</a>
                            </li>
                            <li>
                                <a href="contact/index.htm">Contact TAPIR</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4"> 
                         <ul class="foot_links"> 
                            <li> <a href="https://www.facebook.com/TAPIRTrial" target="_blank"><img src="/img/icons/facebook.png" class="filter" /></a>
                            </li>
                            <li> <a href="https://twitter.com/TAPIRTrial" target="_blank"><img src="/img/icons/twitter.png" class="filter" height="22" /></a>
                            </li>
                            <li> <a href="https://plus.google.com/u/0/107155195791563745704/about"><img src="/img/icons/googleplus.png" class="filter" /></a>
                            </li>
                            <li> <a href="http://www.youtube.com/channel/UC20JLUCMiCbcI90h2ahfucg"><img src="/img/icons/youtube.png" class="filter" /></a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="topborderwhite">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <img src="/img/vcrcfinal_trans.png" class="img-responsive filter" /> 
                            <p class="small">The Assessment of Prednisone in Remission (TAPIR) Trial is being administered by the <strong>Vasculitis Clinical Research Consortium (VCRC)</strong> and is funded through the <strong>National Heart Lung and Blood Institute</strong> and <strong>National Institutes of Health</strong> with the purpose of exploring novel methods of conducting clinical trials. </p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <img src="/img/VF.png" class="img-responsive filter" /> 
                            <p class="small">The Vasculitis Foundation is pleased to support The Assessment of 
Prednisone in Remission (TAPIR) Trial and encourages patients with 
Granulomatosis with polyangiitis (GPA/Wegener's) to participate. <a href="https://www.rarediseasesnetwork.org/nmct/team/VF.htm"><br>
    Read More &gt;</a><br></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12"> 
                            <p class="small">The National Institutes of Health (NIH) does not endorse or recommend any commercial products, processes, or services. The views expressed in written materials or publications do not necessarily reflect the official policies of the Department of Health and Human Services; nor does mention by trade names, commercial practices, or organizations imply endorsement by the U.S. Government.&nbsp;USF IRB# Pro00013241<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/bootstrap/bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>