 <p><strong><a href="../index.html">Home</a></strong> </p>
                    <p><strong><a href="about.html">About TAPIR</a></strong> </p>
                    <p><strong><a href="TEDDY.html">TEDDY Info for Researchers test</a></strong> </p>
                    <!--
                    <ul>
                        <li>
                            <a href="index.htm">What we are studying</a>
                        </li>
                        <li>
                            <a href="../expected/index.htm">What is expected of you</a>
                        </li>
                        <li>
                            <a href="../eligibility/index.htm">Who can join this trial</a>
                        </li>
                        <li>
                            <a href="../volunteer/index.htm">Why it's important to participate</a>
                        </li>
                        <li>
                            <a href="../faq/index.htm">Frequently asked questions</a>
                        </li>
                        <li>
                            <a href="../join/index.htm">Join the TAPIR Trial</a>
                        </li>
                    </ul>
                    <p><strong><a href="../physicians/index.htm">Information for physicians</a></strong></p>
                    <ul>
                        <li>
                            <a href="../summary/index.htm">Full description of study</a>
                        </li>
                        <li>
                            <a href="../faq/index.htm"></a>
                            <a href="../team/index.htm">Study team</a>
                        </li>
                    </ul>
                    <p><strong><a href="../GPA/index.htm">GPA (Wegenger's)</a></strong></p>
                    <ul>
                        <li>
                            <a href="../GPA/index.htm">Links</a>
                        </li>
                        <li>
                            <a href="../glossary/index.htm">Glossary</a>
                        </li>
                    </ul>
                    <p><strong><a href="../contact/index.htm">Contact Us</a></strong></p>
                    -->