  <div class="largeimg">
            <div class="container hero">
                <div class="row">
                    <div class="col-md-4 whitebg col-md-offset-4 col-sm-4 col-sm-offset-4">
                        <h2>Ready to join TAPIR?</h2>
                        <button type="button" class="btn btn-lg btn-join btn-block">Get Started</button>                         
                        <ul> 
                            <li>For patients with diagnosed GPA</li>
                            <li>Participate from anywhere - online!</li>                             
                            <li>Must currently be in remission</li>                             
                            <li>Continue to see your own doctor</li>
                        </ul>
                        <p>*other conditions may apply. Learn more</p>
                    </div>
                </div>
            </div>
        </div>