 <div class="container-fluid login">
            <div class="row">
                <div class="col-xs-12"> 
                    <p><a href="">Already joined TAPIR? Login here&nbsp;</a></p>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation"> 
            <div class="container-fluid"> 
                <div class="navbar-header"> 
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
                        <span class="sr-only">Toggle navigation</span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                    </button>                     
                    <a class="navbar-brand" href="#">
                        <img src="/img/tapirsquare2.jpg" class="img-responsive visible-xs visible-sm" width="75" />
                        <img src="/img/tapir.png" class="img-responsive hidden-xs hidden-sm" />
                    </a>                     
                </div>                 
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
                     <ul class="nav navbar-nav"> 
</ul>                     
                    <ul class="nav navbar-nav navbar-right"> 
                        <li class="dropdown"> 
                            <a href="study/index.htm" class="dropdown-toggle" data-toggle="dropdown">About this trial <b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="study/index.htm">What are we studying</a>
                                </li>                                 
                                <li>
                                    <a href="expected/index.htm">What is expected of you</a>
                                </li>                                 
                                <li>
                                    <a href="eligibility/index.htm">Who can join</a>
                                </li>                                 
                                <li>
                                    <a href="volunteer/index.htm">Why it's important to participate</a>
                                </li>                                 
                                <li>
                                    <a href="faq/index.htm">FAQs</a>
                                </li>                                 
                                <li class="divider"></li>                                 
                                <li>
                                    <a href="#">Contact us</a>
                                </li>                                 
                            </ul>                             
                        </li>
                        <li class="dropdown"> 
                            <a href="physicians/index.htm" class="dropdown-toggle" data-toggle="dropdown">For physicians <b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="summary/index.htm">Full description of study</a>
                                </li>                                 
                                <li>
                                    <a href="team/index.htm">Study team</a>
                                </li>                                 
                            </ul>                             
                        </li>
                        <li class="dropdown"> 
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">GPA (Wegener's) <b class="caret"></b></a> 
                            <ul class="dropdown-menu"> 
                                <li>
                                    <a href="GPA/index.htm">Links</a>
                                </li>                                 
                                <li>
                                    <a href="glossary/index.htm">Glossary</a>
                                </li>                                 
                            </ul>                             
                        </li>                         
                    </ul>                      
                </div>                 
            </div>             
        </nav>